@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <LoginDisplay />
        <a href="http://172.16.160.206/Bienvenido_a_GameStore.pdf" target="_blank">Terminos y Condiciones</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
